<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to My <%= title %> App</h1>
    <p>You have viewed this page <%= count %> time(s).</p>
    <a href="/logout">Logout</a>

    <!-- <form action="/logout" method="GET">
      <button>Logout</button>
    </form> -->
  </body>
</html>
